@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Regular.eot");
  src: url("/assets/fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Regular.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Regular.woff") format("woff"),
    url("/assets/fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Bold.eot");
  src: url("/assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Bold.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Bold.woff") format("woff"),
    url("/assets/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Black.eot");
  src: url("/assets/fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Black.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Black.woff") format("woff"),
    url("/assets/fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Medium.eot");
  src: url("/assets/fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Medium.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Medium.woff") format("woff"),
    url("/assets/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Light.eot");
  src: url("/assets/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Light.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Light.woff") format("woff"),
    url("/assets/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Thin.eot");
  src: url("/assets/fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Vazir-Thin.woff2") format("woff2"),
    url("/assets/fonts/Vazir-Thin.woff") format("woff"),
    url("/assets/fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --gray-cyan: #dbdfe8;
  --input-border-color: #c6cedc;
  --input-placeholder-color: #b6c2e0;
  --input-title-color: #555;
  --upload-input-first-p: #728091;
  --upload-input-second-p: #c6cedc;
  --color-white: #fff;
  --bg-white: #fff;
  --stepper-header-bg: #f9fafd;
  --stepper-header-item-border: #d1e2f5;
  --spacer-active-current: #38d798;
  --selected-item-icon-color: #88909f;
  --close-btn-icon-color: #6d6e70;
}

.theme--light {
  --gray-cyan: #dbdfe8;
  --input-border-color: #c6cedc;
  --input-placeholder-color: #b6c2e0;
  --input-title-color: #555;
  --upload-input-first-p: #728091;
  --upload-input-second-p: #c6cedc;
  --color-white: #fff;
  --bg-white: #fff;
  --stepper-header-bg: #f9fafd;
  --stepper-header-item-border: #d1e2f5;
  --spacer-active-current: #38d798;
  --selected-item-icon-color: #88909f;
  --close-btn-icon-color: #6d6e70;
}

.theme--dark {
  --gray-cyan: #84878f;
  --stepper-header-bg: #191919;
  --bg-white: #111b27;
  --input-title-color: #999;
}

.profile-table {
  max-height: 200px !important;
  overflow: scroll;
}
.height-80-vh {
  height: 80vh !important;
}
.active-background {
  background-color: white;
  color: #3b3939 !important;
  font-weight: bolder;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 5px !important;
}

.v-application .text-subtitle-1 {
  font-weight: bolder !important;
  font-size: 1.2rem !important;
}

.v-data-table table tbody tr:hover {
  cursor: pointer;
}

.v-data-table table tbody tr:hover .candidate-owner a,
.v-data-table table tbody tr.v-data-table__selected .candidate-owner a {
  color: white !important;
}

td.text-start {
  white-space: nowrap !important;
}

.v-breadcrumbs li:nth-child(even) {
  padding: 0 5px !important;
}

.tab-title {
  font-size: 1.1rem !important;
  font-weight: 800 !important;
  // font-family: "Open Sans", sans-serif !important;
  line-height: 1;
}

.tab-icon .v-icon {
  font-size: 18px !important;
}

.tab-title.not-selected,
.tab-icon.not-selected {
  color: white !important;
}

.tab-chip {
  height: 20px !important;
  padding: 6px !important;
}

.custom-dialog-title {
  font-family: "Arial", sans-serif !important;
  letter-spacing: 4px !important;
  text-transform: uppercase;
  color: #a9b4c8;
}

.v-item-group.v-btn-toggle.v-btn-toggle--rounded
  .v-btn.primary.v-btn--active.v-btn--is-elevated.v-btn--has-bg
  .v-icon {
  color: var(--color-white) !important;
}

.top-minus-4 {
  transform: translateY(-4px) !important;
}

.v-small-dialog__activator__content {
  display: block !important;
}

.avatar {
  height: 110px;
  width: 110px;
  background-color: var(--gray-cyan);
  border: 2px solid var(--gray-cyan);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.avatar .v-icon {
  color: var(--color-white);
  font-size: 60px;
}

.custom-file .v-file-input__text {
  height: 110px;
  opacity: 0;
}

.custom-file .v-input__slot fieldset {
  border-style: dashed !important;
}

.custom-file .v-input__slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-first-p {
  font-size: 18px;
  color: var(--upload-input-first-p);
  letter-spacing: 0.5px;
}

.upload-second-p {
  color: var(--input-border-color);
  line-height: 1.5;
}

.custom-file .v-input__prepend-inner {
  position: absolute;
}

.active-status-btn {
  width: 4.5rem;
  height: 4.5rem;
  padding: 10px;
  position: absolute !important;
  right: 10rem !important;
  top: 250px;
  transform: translateY(-50%);
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 15%);
}
.custom-profile-details {
  border-bottom: 2px solid var(--input-border-color);
}
